body {
    font-family: Deli, sans-serif;
    background: linear-gradient(to right, #0099ff, #00ff99);
    }
  
  h1 {
    color: rgb(0, 0, 0);
    font-size: 36px;
    text-align: center;
  }
  
  p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 6;
    margin: 20px;
  }
  
  img {
      position: relative;
      margin: 0 auto;
      max-width: 100%;
      animation-name: mymove;
      animation-duration: 2s;
    
  }
  @keyframes mymove {
      from {left: 300px;}
      to {left: 0px;}
  }
